body {
  font-family: verdana, "Times New Roman", Times, serif;
  font-size: 12px;
  margin: 0 0 20px 0;
}
.container {
  width: 700px;
  padding: 0 10px ;
}
.options {
  float: right;
  margin: 10px 0 0 0;
}
.textarea {
  background: #eee;
  border: 1px dashed #aaa;
  padding: 5px;
  color:  #c00;
  width: 700px;
  height: 400px;
  margin: 0 0 20px 0;
}
h1 {
  background: #9D608C;
  margin: 0;
  padding: 10px 10px ;
  color: #fff;
  font-size: 26px;
}
.submenu {
  background: #222;
  color: white;
  padding: 5px 10px ;
  margin: 0 0 20px 0;
}
.submenu a {
  color: white;
  text-decoration: none;
}
.color {
  color: #bbb;
}
h2 {
  padding: 0;
  font-weight: normal;
  font-size: 22px;
  margin: 0 0 5px 0;
}
pre {
  color: #888;
}
#new_table {
  margin: 0 0 100px 0;
}
#new_table textarea {
  background: #eee;
  border: 1px dashed #aaa;
  padding: 5px;
  color: #0066FF;
  width: 450px;
  height: 200px;
}
#new_table input[type='text'] {
  background: #eee;
  border: 1px dashed #aaa;
  color: #0033CC;
  width: 150px;
}
.message {
  color: red;
}
.style1 {
  color: #9D608C;
  font-weight: bold;
}